<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
        <div class="logo">
            <h1><a href="/">장고게시판</a></h1>
        </div>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="/">HOME</a></li>
                <li><a class="nav-link scrollto" href="/board" onclick="testFucntion();">board</a></li>
            </ul>
        </nav><!-- .navbar -->
    </div>
</header><!-- End Header -->